{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

{%block title%}
Log In
{%endblock%}

{%block content%}

{%endblock%}

{% block body %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'index' %}">Boards</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Log In</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{next}}">
                        {% include 'includes/form.html' %}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Do not have an account? <a href="{%url 'register'%}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}